body {
    padding: 0;
    margin: 0;
    font-family: 'Century gothic', 'sans-serif';
    font-size: 18px;
    line-height: 150%;
    color: #eee;
    background: url(backgroundimg.jpg) no-repeat;
    background-size: auto;
    background-size: cover;
    height: 100% auto;
  }

  .contact-form {
      width: 85%;
      max-width: 600px;
      background: #f1f1f1;
      position: absolute;
      top: 58%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 30px 40px;
      border-radius: 5px;
      text-align: center;
      box-shadow: 0 0 20px #000000b3;
  } 
  .contact-form h1{
      margin-top: 0;
      font-weight: 200;
  }   

  .textb{
      border: 1px solid grey;
      margin: 8px 0;
      padding: 12px 18px;
      border-radius: 8px;
  }

  .text label{
      display:block;
      text-align: left;
      color: #333;
      text-transform: uppercase;
      font-size: 13px;
  }

  .textb input,.textb textarea{
      width: 100%;
      border: none;
      background: none;
      outline: none;
      font-size: 18px;
      margin-top: 6px;
  }

  .btn{
      display: inline-block block;
    background: black;
    padding: 14px 0;
    color: #eee;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
  }